<a href="https://colab.research.google.com/github/vanessamr/intro_dc/blob/main/Challenge_Colecci%C3%B3n_y_adquisici%C3%B3n_de_datos_con_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Lectura de archivos CSV

**MiniChallenge**
1. Crear un archivo csv con un tabulador de **,** (coma) y con dos columnas; una con los **nombres** de los integrantes del equipo y la segunda con sus edades.
2. Abrir y mostrar la columna de los nombres.

In [ ]:
import csv

In [ ]:
#Crea y Escribe tu CSV aqui
import pandas as pd
data = {
    "Personas" : ["Noe Bautista" , "Estefania Chavez", "Kevin Roldan", "Antonio Pineda", "Ricardo GH", "Alex Romo", "Roberto Hernandez", "Alex Castro", "Fernana Fragoso"],
    "Edad" : [25, 35, 87, 17, 20, 35, 48, 58, 18] 
}
dataFrame = pd.DataFrame(data) 

print(dataFrame)
dataFrame.to_excel("personas.xlsx")

            Personas  Edad
0       Noe Bautista    25
1   Estefania Chavez    35
2       Kevin Roldan    87
3     Antonio Pineda    17
4         Ricardo GH    20
5          Alex Romo    35
6  Roberto Hernandez    48
7        Alex Castro    58
8    Fernana Fragoso    18

In [ ]:
#Lee tu CSV aqui 

filecsv =open ('/content/personas.xlsx')

In [ ]:
#Muestra el contenido de la columna aqui
#En lugar de usar pd.read_csv se cambio csv por excel, ya nos dió el error UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe5 in position 10: invalid continuation byte
pd.read_excel ('/content/personas.xlsx')

   Unnamed: 0           Personas  Edad
0           0       Noe Bautista    25
1           1   Estefania Chavez    35
2           2       Kevin Roldan    87
3           3     Antonio Pineda    17
4           4         Ricardo GH    20
5           5          Alex Romo    35
6           6  Roberto Hernandez    48
7           7        Alex Castro    58
8           8    Fernana Fragoso    18

###Lectura y exploracion de archivo CSV con Pandas


[Pandas](https://pandas.pydata.org) es un módulo externo en Python que provee de herramientas para el análisis y manipulación de datos comúnmente utilizado en *Data Science* debido a que es rápido, poderoso, flexible y fácil de utilizar.

Una de las principales ventajas de utilizar un DataFrame en lugar de una estructura de datos convencional de Python es el acceso a funcionalidades de uso frecuente. Una de estas es la posibilidad de realizar operaciones de agregación (metodos) sobre las columnas.

Existen 13 funciones de agregación (metodos) incluidas en Pandas:
1. `mean()`: Calcula el promedio.
1. `sum()`: Calcula la suma.
1. `size()`: Calcula el tamaño.
1. `count()`: Calcula el tamaño ignorando valores vacíos.
1. `std()`: Calcula la desviación estándar.
1. `var()`: Calcula la varianza.
1. `sem()`: Calcula el error estándar de los valores promedio.
1. `describe()`: Genera estadísticas descriptivas (promedio, desviación estándar, mínimo, máximo, quartiles).
1. `first():` Devuelve el primer elemento.
1. `last()`: Devuelve el último elemento.
1. `nth()` : Devuel el n-ésimo elemento para un valor de `n` entero, o un subconjunto si `n` es una lista.
1. `min()`: Calcula el mínimo.
1. `max()`: Calcula el máximo.

**MiniChallenge**
1. Entra a Kaggle, descarga el archivo [water_potability.csv](https://www.kaggle.com/adityakadiwal/water-potability?select=water_potability.csv) y subelo a tu carpeta de Files
2. Importar la base de datos con pandas al notebook
3. Mostrar la columna 'Turbidity'
4. Sacar promedio de la columna 'Ph'

In [ ]:
import pandas as pd

In [ ]:
wather=pd.read_csv ('/content/water_potability.csv')
wather

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,NaN,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0
...,...,...,...,...,...,...,...,...,...,...
3271,4.668102,193.681735,47580.991603,7.166639,359.948574,526.424171,13.894419,66.687695,4.435821,1
3272,7.808856,193.553212,17329.802160,8.061362,NaN,392.449580,19.903225,NaN,2.798243,1
3273,9.419510,175.762646,33155.578218,7.350233,NaN,432.044783,11.039070,69.845400,3.298875,1
3274,5.126763,230.603758,11983.869376,6.303357,NaN,402.883113,11.168946,77.488213,4.708658,1
3275,7.874671,195.102299,17404.177061,7.509306,NaN,327.459760,16.140368,78.698446,2.309149,1

In [ ]:
wather.iloc[:,-1]

0       0
1       0
2       0
3       0
4       0
       ..
3271    1
3272    1
3273    1
3274    1
3275    1
Name: Potability, Length: 3276, dtype: int64

In [ ]:
mean_ph = wather['ph'].mean()
print(mean_ph)

7.080794504276819

###Accediendo a Páginas Web

**MiniChallenge**
1. Accedemos a Project Gutemberg y elegir el libro de tu preferencia en formato txt https://www.gutenberg.org/
2. leer el libro elegido
3. Mostrar los primeros 5000 caracteres

In [ ]:
import urllib.request

In [ ]:
libro="https://www.gutenberg.org/files/67748/67748-h/67748-h.htm"
libroweb=urllib.request.urlopen(libro).read().decode('utf-8')
print(libroweb[:500])

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <title>
      Scientific Sprague, by Francis Lynde&mdash;A Project Gutenberg eBook
    </title>
    <link rel="coverpage" href="images/cover.jpg" />
    <styl

###Manipulacion de JSON con Python

JavaScript Object Notation (JSON) El formato mas utilizado para trasferir informacion (intercambio de datos a través de la web)

**MiniChallenge**
 
1. Busquemos acceder a las 'description' del json

In [ ]:
import json

In [ ]:
otro_JSON='''
{
    "marcadores": [
      {
        "latitude": 40.416875,
        "longitude": -3.703308,
        "city": "Madrid",
        "description": "Puerta del Sol"
      },
      {
        "latitude": 40.417438,
        "longitude": -3.693363,
        "city": "Madrid",
        "description": "Paseo del Prado"
      },
      {
        "latitude": 40.407015,
        "longitude": -3.691163,
        "city": "Madrid",
        "description": "Estación de Atocha"
      }
    ]
}

'''

In [ ]:
#Codea aqui para acceder a las 3 description de otro_JSON con ayuda de un for
json1=json.loads(otro_JSON)
print(json1)
for x in json1["marcadores"]:
  print(x["description"])

{'marcadores': [{'latitude': 40.416875, 'longitude': -3.703308, 'city': 'Madrid', 'description': 'Puerta del Sol'}, {'latitude': 40.417438, 'longitude': -3.693363, 'city': 'Madrid', 'description': 'Paseo del Prado'}, {'latitude': 40.407015, 'longitude': -3.691163, 'city': 'Madrid', 'description': 'Estación de Atocha'}]}
Puerta del Sol
Paseo del Prado
Estación de Atocha

##API

Minichallenge

Haz una consulta a la siguiente API y obten todos los elementos de 'sunrise' del JSON que da como resultado

* [Sunrise Sunset](https://sunrise-sunset.org/api)

In [ ]:
import requests

In [ ]:
api="https://api.sunrise-sunset.org/json?lat=36.7201600&lng=-4.4203400"
response=requests.get(api)
json_sun=response.json()
print(json_sun)

{'results': {'sunrise': '6:02:06 AM', 'sunset': '6:40:58 PM', 'solar_noon': '12:21:32 PM', 'day_length': '12:38:52', 'civil_twilight_begin': '5:37:22 AM', 'civil_twilight_end': '7:05:42 PM', 'nautical_twilight_begin': '5:06:40 AM', 'nautical_twilight_end': '7:36:24 PM', 'astronomical_twilight_begin': '4:35:13 AM', 'astronomical_twilight_end': '8:07:52 PM'}, 'status': 'OK'}