<a href="https://colab.research.google.com/github/vanessamr/intro_dc/blob/main/Copia_de_TidyData_vmr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
d = {'pais': ['Colombia', 'México', 'Salvador'], '1999': [745, 37737, 212258], '2000': [2666, 80488, 213766]}
df = pd.DataFrame(data=d)
df

       pais    1999    2000
0  Colombia     745    2666
1    México   37737   80488
2  Salvador  212258  213766

In [ ]:
pd.melt(df)
#melt sirve para transformar columnas en variables

  variable     value
0     pais  Colombia
1     pais    México
2     pais  Salvador
3     1999       745
4     1999     37737
5     1999    212258
6     2000      2666
7     2000     80488
8     2000    213766

In [ ]:
df_relinc=pd.read_csv("/content/drive/MyDrive/Copia de religion_income.csv")
df_relinc.head()

,religion,<10k,10-20k,20-30k,30-40k,40-50k,50-75k,75-100k,100-150k,>150k,refused
0,Agnostic,27,34,60,81,76,137,122,109,84,96
1,Atheist,12,27,37,52,35,70,73,59,74,76
2,Buddhist,27,21,30,34,33,58,62,39,53,54
3,Catholic,418,617,732,670,638,1116,949,792,633,1489
4,refused,15,14,15,11,10,35,21,17,18,116

In [ ]:
pd.melt(df_relinc).head(21)

    variable                    value
0   religion                 Agnostic
1   religion                  Atheist
2   religion                 Buddhist
3   religion                 Catholic
4   religion                  refused
5   religion         Evangelical Prot
6   religion                    Hindu
7   religion  Historically Black Prot
8   religion        Jehovah's Witness
9   religion                   Jewish
10  religion            Mainline Prot
11  religion                   Mormon
12  religion                   Muslim
13  religion                 Orthodox
14  religion          Other Christian
15  religion             Other Faiths
16  religion    Other World Religions
17  religion             Unaffiliated
18      <10k                       27
19      <10k                       12
20      <10k                       27

In [ ]:
df_relinc_melt= pd.melt(df_relinc)
df_relinc_melt[df_relinc_melt['variable']=='<10k'].sum()

variable    <10k<10k<10k<10k<10k<10k<10k<10k<10k<10k<10k<1...
value                                                    1930
dtype: object

Pasar de formato long a formato wider, esto sirve para comprimir una base de datos usando wider_to_long.pivot_table

In [ ]:
wider=pd.read_csv("/content/drive/MyDrive/Copia de wider.csv")
wider

    Unnamed: 0        pais  anio       tipo      cuenta
0            1  Afganistán  1999      casos         745
1            2  Afganistán  1999  población    19987071
2            3  Afganistán  2000      casos        2666
3            4  Afganistán  2000  población    20595360
4            5      Brasil  1999      casos       37737
5            6      Brasil  1999  población   172006362
6            7      Brasil  2000      casos       80488
7            8      Brasil  2000  población   174504898
8            9       China  1999      casos      212258
9           10       China  1999  población  1272915272
10          11       China  2000      casos      213766
11          12       China  2000  población  1280428583

In [ ]:
#para eliminar una columna se utiliza .drop
wider= wider.drop(columns= "Unnamed: 0")

In [ ]:
wider

          pais  anio       tipo      cuenta
0   Afganistán  1999      casos         745
1   Afganistán  1999  población    19987071
2   Afganistán  2000      casos        2666
3   Afganistán  2000  población    20595360
4       Brasil  1999      casos       37737
5       Brasil  1999  población   172006362
6       Brasil  2000      casos       80488
7       Brasil  2000  población   174504898
8        China  1999      casos      212258
9        China  1999  población  1272915272
10       China  2000      casos      213766
11       China  2000  población  1280428583

In [ ]:
wider= wider.pivot_table(index= ['pais','anio'], columns='tipo', values='cuenta')

KeyError: ignored

In [ ]:
wider

tipo              casos   población
pais       anio
Afganistán 1999     745    19987071
           2000    2666    20595360
Brasil     1999   37737   172006362
           2000   80488   174504898
China      1999  212258  1272915272
           2000  213766  1280428583

In [ ]:
#Para separar los datos con str.plit()


separate=pd.read_csv("/content/drive/MyDrive/Copia de separate.csv")
separate

         pais  anio               tasa
0  Afganistán  1999       745/19987071
1  Afganistán  2000      2666/20595360
2      Brasil  1999    37737/172006362
3      Brasil  2000    80488/174504898
4       China  1999  212258/1272915272
5       China  2000  213766/1280428583

In [ ]:
expanded= separate['tasa'].str.split('/', expand= True)
expanded.columns=['casos', 'población']

In [ ]:
expanded

    casos   población
0     745    19987071
1    2666    20595360
2   37737   172006362
3   80488   174504898
4  212258  1272915272
5  213766  1280428583

In [ ]:
#para quitar una columnaa hint.drop
separate.drop(columns='tasa', inplace= True)
separate

         pais  anio
0  Afganistán  1999
1  Afganistán  2000
2      Brasil  1999
3      Brasil  2000
4       China  1999
5       China  2000

In [ ]:
#para unir todo en uno solocon df.concat, axis 1 es columnas y 0 es filas
pd.concat([separate, expanded], axis=1)

         pais  anio   casos   población
0  Afganistán  1999     745    19987071
1  Afganistán  2000    2666    20595360
2      Brasil  1999   37737   172006362
3      Brasil  2000   80488   174504898
4       China  1999  212258  1272915272
5       China  2000  213766  1280428583

In [ ]:
#para unir dos columnas 
fusion= pd.read_csv('/content/drive/MyDrive/Copia de unite.csv')
fusion['completo']=fusion['siglo']*100+fusion['anio']
fusion

         pais  siglo  anio               tasa  completo
0  Afganistán     19    99       745/19987071      1999
1  Afganistán     20     0      2666/20595360      2000
2      Brasil     19    99    37737/172006362      1999
3      Brasil     20     0    80488/174504898      2000
4       China     19    99  212258/1272915272      1999
5       China     20     0  213766/1280428583      2000

In [ ]:
#merge
left = pd.DataFrame(
    {
        "key": ["K0", "K1", "K2", "K3"],
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
    }
)
right = pd.DataFrame(
    {
        "key": ["K0", "K1", "K2", "K3"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    }
)

right2 = pd.DataFrame(
    {
        "key1": ["K0", "K1", "K1", "K2"],
        "key2": ["K0", "K0", "K0", "K0"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    }
)
left2 = pd.DataFrame(
    {
        "key1": ["K0", "K0", "K1", "K2"],
        "key2": ["K0", "K1", "K0", "K1"],
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
    }
)
left

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K3  A3  B3

In [ ]:
pd.merge(left, right, on=['key'])

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

In [ ]:
pd.merge(left2, right2, how='left', on=['key1','key2'])

  key1 key2   A   B    C    D
0   K0   K0  A0  B0   C0   D0
1   K0   K1  A1  B1  NaN  NaN
2   K1   K0  A2  B2   C1   D1
3   K1   K0  A2  B2   C2   D2
4   K2   K1  A3  B3  NaN  NaN

In [ ]:
pd.merge(left2, right2, how='right', on=['key1','key2'])

  key1 key2    A    B   C   D
0   K0   K0   A0   B0  C0  D0
1   K1   K0   A2   B2  C1  D1
2   K1   K0   A2   B2  C2  D2
3   K2   K0  NaN  NaN  C3  D3

In [ ]:
pd.merge(left2, right2, how='outer', on=['key1','key2'])

  key1 key2    A    B    C    D
0   K0   K0   A0   B0   C0   D0
1   K0   K1   A1   B1  NaN  NaN
2   K1   K0   A2   B2   C1   D1
3   K1   K0   A2   B2   C2   D2
4   K2   K1   A3   B3  NaN  NaN
5   K2   K0  NaN  NaN   C3   D3

In [ ]:
pd.merge(left2, right2, how='inner', on=['key1','key2'])

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2